<a href="https://colab.research.google.com/github/Akansharocks/ml/blob/main/MYwebscraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India"
response = requests.get(url)

In [ ]:
soup = BeautifulSoup(response.text, "html.parser")  # Step 2: Parse the HTML content

In [ ]:

# Step 3: Find the correct table (wikitable class)
table = soup.find('table', {'class': 'wikitable'})

In [ ]:
# Step 4: Extract data row by row
data = []
for row in table.find_all('tr')[1:]:  # skip header
    cols = row.find_all('td')
    if len(cols) >= 5:
        state = cols[1].text.strip()
        capital = cols[3].text.strip()
        data.append([state, capital])

In [ ]:
# Step 5: Save or display the data
df = pd.DataFrame(data, columns=['State/UT', 'Capital'])
print(df)

   State/UT                                    Capital
0        AP                                  Amaravati
1        AR                                   Itanagar
2        AS                                     Dispur
3        BR                                      Patna
4        CG                                  Raipur[b]
5        GA                                     Panaji
6        GJ                                Gandhinagar
7        HR                                 Chandigarh
8        HP    Shimla (Summer)Dharamshala (Winter)[33]
9        JH                                     Ranchi
10       KA                                  Bengaluru
11       KL                         Thiruvananthapuram
12       MP                                     Bhopal
13       MH     Mumbai (Summer)Nagpur (Winter)[38][39]
14       MN                                     Imphal
15       ML                                   Shillong
16       MZ                                     Aizawl
17       NL                                     Kohima
18       OD                                Bhubaneswar
19       PB                                 Chandigarh
20       RJ                                     Jaipur
21       SK                                    Gangtok
22       TN                                    Chennai
23   TG[41]                               Hyderabad[c]
24       TR                                   Agartala
25       UP                                    Lucknow
26       UK  Bhararisain (Summer)Dehradun (Winter)[47]
27       WB                                    Kolkata
28